*{margin: 0; padding: 0;}

body{
	background: #000000;
	font-family: Monaco, monospace;
	color: #ffffff;
}

.header{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	background: #6495ED;
	margin-bottom: 20px;
}

.wrapper{
	width:90%;
	max-width:1000px; 
	margin: 90px auto 0px; 
	text-align: center;
	overflow:hidden;
}

#logo{
	color:#E20800;
	font-size:30px;
	line-height:70px;
	float:left;
	padding-left: 30px;
	font-weight: bold;
}

div.navbar {
	float:right;
	line-height:70px;
	padding: 0px 30px;
}

div.navbar a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 18px;
	line-height:normal;
	font-size:18px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

div.navbar a:hover {
	background:#E20800;
}

#emaitzak{
	color: #000000;
	font-size: 24px;
}

.white{
	color: #fff;
}